html {
    font-family: sans-serif;
  }
  
  div {
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
    /* default root font size is 16px for most of the browsers and desired font size was 17-18.
    When you divide desired font size by root font size, you get rem. Prefered using px instead of rem for this assignment  */
    align-content: center;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    border-radius: 10px;
    border: 1px solid #600000;
    background-color: red;
    background-image: linear-gradient(.25turn, red, 98%, rgb(118, 0, 0));
    box-shadow: 5px 5px 3px 0 rgba(255, 255, 255, 0.5) inset, -5px -5px 3px 0 rgba(0,0,0,0.8) inset, 5px 5px 3px 0
    rgba(0, 0,0,0.8)
  }